/.CFUserTextEncoding
/.DS_Store
/.Trash
/.assistant
/.astrct
/.cache
/.config
/.cups
/.gitconfig
/.id_ed25519.pub.swp
/.lesshst
/.local
/.mono
/.npm
/.oracle_jre_usage
/.python_history
/.ssh
/.swiftpm
/.viminfo
/.vscode
/.yandex
/.zprofile
/.zsh_history
/.zsh_sessions
/.zshrc
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/PycharmProjects
/iCloud Drive (архив)
/iCloud Drive (архив) - 1
/java_error_in_pycharm_79191.log
/main.cpp
/output
/python
# Lab video assets
web/lab1/videos/*.mp4
web/lab1/videos/video3.mp4
web/lab1/videos/video1.mp4
web/lab1/videos/video2.mp4
web/js/lab2.2/.DS_Store
web/.DS_Store
web/js/.DS_Store
web/js/lab2.2/.DS_Store
