html, body {
    font-family: sans-serif;
}

.p-text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.title-h1 {
    font-size: 64px;
    color: #1F3F68;
}

.title-h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.title-h3 {
  font-size: 36px;
  text-align: center;
}

.title-h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
}

.form-input {
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
  padding: 8px 10px;
  outline: none;
}

.btn-submit {
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
}

.gallery img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}
