<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Моя первая страница</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>

<body>
  <div id="app">
    <header>
      <h1 class="title-h1">Портфолио Вячеслава</h1>
      <p class="p-text">ЮГУ · Clickmedia</p>
    </header>

    <main>
      <section class="folders">
        <button
          class="folder-btn"
          @click="activeFolder = 'UGRASU'"
        >
          ЮГУ
        </button>

        <button
          class="folder-btn"
          @click="activeFolder = 'clickmedia'"
        >
          Кликмедиа
        </button>
      </section>

      <p class="p-text" v-if="!activeFolder">
        Выберите папку, чтобы посмотреть работы.
      </p>

      <section v-if="activeFolder === 'UGRASU'">
        <h2 class="title-h2">ЮГУ · Учебные работы</h2>
        <ul class="cards">
          <li class="card">
            <h3 class="title-h3">Веб-разработка</h3>
            <p class="p-text">Лабы, мини-сайты</p>
          </li>

          <li class="card">
            <h3 class="title-h3">ООП</h3>
            <p class="p-text">Проекты на C#/Python с классами и объектами.</p>
          </li>

          <li class="card">
            <h3 class="title-h3">Тестирование</h3>
            <p class="p-text">Проекты по тестированию ПО</p>
          </li>
        </ul>
      </section>

      <section v-if="activeFolder === 'clickmedia'">
        <h2 class="title-h2">Кликмедиа · Видео-работы</h2>

        <ul class="cards">
          <li 
            class="card"
            v-for="video in videos"
            :key="video.id"
          >
            <h3 class="title-h3">{{video.title}}</h3>
            <p class="p-text">{{video.description}}</p>
            <a 
              class="p-text"
              :href="video.link"
              target="_blank"
              rel="noopener"
            >
              Открыть работу →
            </a>
          </li>
        </ul>
      </section>
    </main>

     <footer>
      <hr />
      <p class="p-text">© {{ new Date().getFullYear() }} Vyacheslav · Clickmedia</p>
    </footer>
  </div>

  <script>
    const app = Vue.createApp ({
      data () {
        return {
          activeFolder: null,
          videos: [
            {
              id: 1,
              title: "Велес",
              description: "Социальная реклама волонтерства для приюта безхозных животных",
              link: "videos/video1.html"
            },
            {
              id: 2,
              title: "Холодная война",
              description: "Видеоролик на исторический конкурс",
              link: "videos/video2.html"
            },
            {
              id: 1,
              title: "Скрепка на дом",
              description: "Социальный ролик для блогера",
              link: "videos/video3.html"
            }
          ]
        }
      }
    })

    app.mount("#app")
  </script>
</body>
</html>
