:root {
    --accent: rgb(156, 95, 48);
    --accent-light: rgba(156, 95, 48, 0.4);
    --accenr-dark: rgb(110, 70, 34);
    --text-color: #eee;
    --bg-dark: #0c0c0c;
    --radius: 24px;
    --transition: 0.3s ease;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: var(--bg-dark);
    color: var(--text-color);
    overflow-x: hidden;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.blob {
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--accent-light);
    border-radius: 50%;
    filter: blur(120px);
    animation: float 12s infinite ease-in-out;
}

.blob:nth-child(1) {
    top: -50px;
    left: -80px;
}

.blob:nth-child(2) {
    bottom: -100px;
    right: -50px;
    animation-delay: 3s;
    background: rgba(156, 95, 48, 0.25);
}

.blob:nth-child(3) {
    top: 30%;
    left: 60%;
    animation-delay: 6s;
    background: rgba(156, 95, 48, 0.55);
}

@keyframes float {
    0% { transform: translate(0, 0) scale(1);}
    50% { transform: translate(80px, -40px) scale(1.15);}
    100% { transform: translate(0, 0) scale(1);}
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

    max-width: 1000px;
    margin: 80px auto 60px;
    text-align: center;
    padding: 0 60px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
}

.nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: var(--radius);
    backdrop-filter: blur(8px);
    transition: var(--transition);
}

.nav a:hover {
    background: var(--accent);
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    opacity: 0.8;
    text-align: center;
}

.main-blocks {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 68px 40px;
    max-width: 1200px;
    flex-wrap: wrap;
}

.glass-block {
    width: 320px;
    height: 320px;

    border-radius: var(--radius);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    color: var(--text-color);
    text-decoration: none;

    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 1px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    transition: var(--transition);
}

.glass-block:hover {
    transform: scale(1.08) translateY(-6px);
    background: var(--accent);
}

.hero-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-text1 {
    max-width: 600px;
    text-align: right;
}

.hero-text h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-text p {
    color: #555;
    font-size: 18px;
}

.hero-text2 {
    max-width: 600px;
    text-align: left;
}

.hero-text h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-text p {
    color: #555;
    font-size: 18px;
}

.glass-block img {
    width: 120px;
    height: auto;
}

.hero-button:hover {
    transform: scale(1.05);
    background: #222;
}