:root {
    --accent: rgb(156, 95, 48);
    --accent-light: rgba(156, 95, 48, 0.4);
    --accent-dark: rgb(110, 70, 34);
    --text-color: #eee;
    --bg-dark: #0c0c0c;
    --radius: 24px;
    --transition: 0.3s ease;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: var(--bg-dark);
    color: var(--text-color);
    overflow-x: hidden;
}

/* .background {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.blob {
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--accent-light);
    border-radius: 50%;
    filter: blur(120px);
    animation: float 12s infinite ease-in-out;
}

.blob:nth-child(1) {
    top: -50px;
    left: -80px;
}

.blob:nth-child(2) {
    bottom: -100px;
    right: -50px;
    animation-delay: 3s;
    background: rgba(156, 95, 48, 0.25);
}

.blob:nth-child(3) {
    top: 30%;
    left: 60%;
    animation-delay: 6s;
    background: rgba(156, 95, 48, 0.55);
} */

/* @keyframes float {
    0% { transform: translate(0, 0) scale(1);}
    50% { transform: translate(80px, -40px) scale(1.15);}
    100% { transform: translate(0, 0) scale(1);}
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    max-width: 1000px;
    text-align: center;
    padding: 0 60px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    
}

.nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: var(--radius);
    backdrop-filter: blur(8px);
    transition: var(--transition);
}

.nav a:hover {
    background: var(--accent);
} */

/* .title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    opacity: 0.8;
    text-align: center;
} */

/* .main-blocks {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 40px 40px;
    max-width: 1400px;
    flex-wrap: wrap;
    object-fit: contain;
} */

.main-blocks {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas: 
        "title"
        "text"
        "button";

    gap: 24px;
}

@media (min-width: 700px) {
    .main-blocks--right {
        grid-template-columns: minmax(250px, auto) 1fr minmax(250px, auto);
        grid-template-areas: 
            "title title button"
            "text text button";
    }

    .main-blocks--left {
        grid-template-columns: minmax(250px, auto) 1fr minmax(250px, auto);
        grid-template-areas: 
            "button title title"
            "button text text";
    }
}

.glass-block {
    grid-area: button;

    border-radius: var(--radius);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    color: var(--text-color);
    text-decoration: none;

    flex-direction: column;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;

    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 1px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    transition: var(--transition);
}

.glass-block:hover {
    transform: scale(1.08) translateY(-6px);
    background: var(--accent);
}

/* .hero-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
} */

/* .hero-text {
    max-width: 600px;
    gap: 20px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    text-size-adjust: 40px;
    align-self: center;
} */

.hero-text-h2 {
    grid-area: title;
    text-align: center;
    font-size: 42px;
    gap: 20px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    text-size-adjust: 40px;
    align-self: center;
    justify-self: stretch;
    width: 100%;
}

.hero-text-p {
    grid-area: text;
    color: #555;
    font-size: 18px;
    gap: 20px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-self: stretch;
    width: 100%;
}

.glass-block img {
    width: 120px;
    height: auto;
}

.hero-button:hover {
    transform: scale(1.05);
    background: #222;
}
